<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
  <%= site_bar -%>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <div id="page_container">
    <header id="header">
      <%= render '/refinery/header' -%>
    </header>
    <section id="page">
      <div class="row">
        <div class="two columns" style="width:5%;"></div>
        <div class="eight columns" style="width:90%; margin-left:0px;">
          <img src="<%=@page.images.first.thumbnail("800x300#c").url.to_s%>" alt="Vulture" width="100%">
        </div>
        <div class="two columns" style="width:5%;"></div>
      </div>
      <div class="row">
        <div class="two columns" style="width:5%;"></div>
        <div class="eight columns" style="width:90%; margin-left:0px;">
          <div style="max-width:800px; margin-top:30px;"><%= raw @page.content_for(:body) %></div> 
        </div>
        <div class="two columns" style="width:5%;"></div>
      </div>

      <div class="row">
        <div class="two columns" style="width:5%;"></div>
        <div class="eight columns" style="width:90%; margin-left:0px; text-align:center;">
          <div id="mc_embed_signup" style="width:250px; margin:0px auto;">
            <form action="http://vulture-magazine.us5.list-manage1.com/subscribe/post?u=fafea99cb7e8c4b5e1e26dbfe&amp;id=7063916a6a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="padding: 5px;" novalidate>
              <input type="email" value="" name="EMAIL" style="padding:4px 0px; margin:5px auto; width:200px;" class="email" id="mce-EMAIL" placeholder="Subscribe to our mailing list" required>
              <div class="clear" style="width:90px margin:5px auto;">
                <input type="submit" value="Subscribe" style="margin:0px auto;" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </form>
          </div>
        </div>
        <div class="two columns" style="width:5%;"></div>
      </div>


      <div class="row">
        <div class="two columns" style="width:5%;"></div>
        <div class="eight columns" style="width:90%; margin-left:0px;">
          <div style="width:70px; margin:0px auto;">
            <div class="fb ic"><a href="https://www.facebook.com/VULTUREONLINE"></a></div>
            <div class="tw ic"><a href="https://twitter.com/VultureMag"></a></div>
          </div>
        </div>
        <div class="two columns" style="width:5%;"></div>
      </div>

      

    </section>
  </div>
  <footer>
    <%= render '/refinery/footer' -%>
  </footer>
</div>
<%= render '/refinery/javascripts' %>
<script type="text/javascript">
$('.ic').css( 'cursor', 'pointer' );
$(".ic").click(function(){
 window.location=$(this).find("a").attr("href"); 
 return false;
});</script>
</body>
</html>


