<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
	<%= site_bar -%>
	<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div id="page_container">
		<header id="header">
			<%= render '/refinery/header' -%>
		</header>
		<section id="page">

			<% @page.children.each do |boss| %>
			<% boss.images.each_with_index	 do |image, index| %>	
			<div class="row" style="padding-bottom:1%;">
				<div class="two columns"></div>
				<div class = "eight columns" style="">
					<a href="<%= url_for boss.url %>"><img src="<%=image.thumbnail("640x400#c").url%>" data-title="Item Title" data-description="<%=raw boss.caption_for_image_index(index) %>" style="margin:0px auto;"></a>
					<div class='nivo-caption' style="left:70%;">  
						<h1><%=raw boss.title%></h1>
						<%=raw boss.content_for(:body) %>
					</div> 
				</div>
				<div class="two columns"></div>

			</div>
		</div>
		<div class="two columns"></div>

	</div>
	<% break %>	
	<% end %>
	<% end %> 

</section>
<footer>
	<%= render '/refinery/footer' -%>
</footer>
</div>
<%= render '/refinery/javascripts' %>
</body>
</html>


