<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
	<%= site_bar -%>
	<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div id="page_container">
		<header id="header">
			<%= render '/refinery/header' -%>
		</header>
		<section id="page">
			<div class="container_24">
				<div class="grid_16 push_4 suffix_4">
					<h1 style="text-align:center;">Contributors</h1>
					<%= raw @page.content_for(:body)%>
				</div>
				
			</div>
		</section>
		<footer>
			<%= render '/refinery/footer' -%>
		</footer>
	</div>
	<%= render '/refinery/javascripts' %>
</body>
</html>


	