<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
	<%= site_bar -%>
	<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div id="page_container">
		<header id="header">
			<%= render '/refinery/header' -%>
		</header>
		<section id="page">
			<div class="row" style="height:100%;">
				<div class="two columns" style="width:5%;"></div>
				<div class="eight columns" style="width:90%; margin-left: 0%; text-align:center;">
					<h1>Contributors</h1>
					<%= raw @page.content_for(:body)%>
				</div>
				<div class="two columns" style="width:5%;"></div>
				
			</div>
		</section>
		<footer>
			<%= render '/refinery/footer' -%>
		</footer>
	</div>
	<%= render '/refinery/javascripts' %>
</body>
</html>


	