<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
	<%= site_bar -%>
	<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div id="page_container">
		<header id="header">
			<%= render '/refinery/header' -%>
		</header>
		<section id="page">
			
			<div class="row" style="height:100%;">
				<div class="two columns" style="width:5%;"></div>

				<div class="eight columns" style="width:90%; margin-left: 0%;">
					<p style="margin-left:5%; font-size:12px; margin-bottom:6px;">Highlights</p>
					<div class="slider-wrapper theme-light"  style="max-width:800px; margin:0px auto;">
						<div class="ribbon"></div>
						<div id="slider" class="nivoSlider">
							<% @page.images.each_with_index do |image, index| %>					
							<a href="<%=image.thumbnail("800x450#c").url%>" style="position:relative;"><img src="<%=image.thumbnail("800x450#c").url%>" title="<%= raw (@page.caption_for_image_index(index)? @page.caption_for_image_index(index) : "") %>"/></a>
							<% end %> 
						</div>
					</div>
				</div>
				<div class="two columns" style="width:5%;"></div>
			</div>
		</section>
		<footer>
			<%= render '/refinery/footer' -%>
		</footer>
	</div>
	<%= render '/refinery/javascripts' %>
	<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider({
        effect:'fade', // Specify sets like: 'fold,fade,sliceDown'
        animSpeed:500, // Slide transition speed
        pauseTime:3000, // How long each slide will show
        startSlide:0, // Set starting Slide (0 index)
        directionNav:true, // Next & Prev navigation
        directionNavHide:true, // Only show on hover
        controlNav:true, // 1,2,3... navigation
        controlNavThumbs:false, // Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, // Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', // Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
        keyboardNav:true, // Use left & right arrows
        pauseOnHover:false, // Stop animation while hovering
        manualAdvance:false, // Force manual transitions
        captionOpacity:0.8, // Universal caption opacity
        prevText: 'Prev', // Prev directionNav text
        nextText: 'Next' // Next directionNav text
    });
	});
</script>


</body>
</html>


