<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
	<%= site_bar -%>
	<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div id="page_container">
		<header id="header">
			<%= render '/refinery/header' -%>
		</header>
		<section id="page">
			<div class="row" style="height:100%;">
				<div class="two columns" style="width:5%;"></div>
				<div class="eight columns" style="width:90%; margin-left: 0%;">
					<div style="width:600px; margin:10px auto;"><object style="width:600px;height:408px" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;backgroundColor=%23222222&amp;documentId=120627040149-a5131cbed11b4a0ca7d547c4dedf75c0" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><param name="wmode" value="transparent"/><embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:600px;height:408px" flashvars="mode=mini&amp;backgroundColor=%23222222&amp;documentId=120627040149-a5131cbed11b4a0ca7d547c4dedf75c0" /></object><div style="width:600px;text-align:left;"><a href="http://issuu.com/vulture-magazine/docs/issue00?mode=window&amp;backgroundColor=%23222222" target="_blank"></a></div></div>
					<p style="text-align:center; color:black;">
						<a href="http://vulturemagazine.bigcartel.com/" title="http://vulturemagazine.bigcartel.com/">Buy Now</a>
					</p>
				</div>
				

				<div class="two columns" style="width:5%;"></div>
				
			</div>
		</section>
		<footer>
			<%= render '/refinery/footer' -%>
		</footer>
	</div>
	<%= render '/refinery/javascripts' %>
</body>
</html>


