<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
	<%= site_bar -%>
	<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div id="page_container">
		<header id="header">
			<%= render '/refinery/header' -%>
		</header>
		<section id="page">
			<div class="container_24">
				<div class="grid_18 push_3 suffix_3">
					<a href="/<%=@page.parent.title.downcase%>"><p style="font-size:12px; margin-bottom:8px; margin-left: auto; margin-right: auto;"><%=@page.parent.title%></p></a>
				</div>
				<div class="grid_18 push_3 suffix_3">
					<h1 class="small"><%= page_title %></h1>
					<div class="slider-wrapper theme-light"  style="padding:0px;">
						<div class="ribbon"></div>
						<div id="slider" class="nivoSlider">
							<% @page.images.each_with_index do |image, index| %>					
							<a href="<%=image.thumbnail("800x450#c").url%>"><img src="<%=image.thumbnail("800x450#c").url%>" title="<%=raw @page.caption_for_image_index(index) %>"/></a>
							<% end %> 
						</div>
					</div>
				</div>
				<div class="grid_18 push_3 suffix_3">
					<%= raw @page.content_for(:body) %>	
				</div>
			</div>
		</section>
		<footer>
			<%= render '/refinery/footer' -%>
		</footer>
	</div>
	<%= render '/refinery/javascripts' %>
	<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider({
	        effect:'fade', // Specify sets like: 'fold,fade,sliceDown'
	        animSpeed:500, // Slide transition speed
	        pauseTime:5000, // How long each slide will show
	        startSlide:0, // Set starting Slide (0 index)
	        directionNav:true, // Next & Prev navigation
	        directionNavHide:true, // Only show on hover
	        controlNav:true, // 1,2,3... navigation
	        controlNavThumbs:false, // Use thumbnails for Control Nav
	        controlNavThumbsFromRel:false, // Use image rel for thumbs
	        controlNavThumbsSearch: '.jpg', // Replace this with...
	        controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
	        keyboardNav:true, // Use left & right arrows
	        pauseOnHover:false, // Stop animation while hovering
	        manualAdvance:false, // Force manual transitions
	        captionOpacity:0.8, // Universal caption opacity
	        prevText: 'Prev', // Prev directionNav text
	        nextText: 'Next' // Next directionNav text
	    });
});
</script>
</body>
</html>


