<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption' rel='stylesheet' type='text/css'>
<body>
  <%= site_bar -%>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <div class="row">

      <div class="three columns"></div>
      <div class="six columns">
          <%= link_to image_tag("vulture-logo.jpg", width:"100%"), refinery.root_path%>
      </div>
      <div class="three columns"></div>

    </div>

  <section id="page">
    <div class="row">

      <div class="two columns"></div>
      <div class="eight columns">
        <video width="100%" height="auto"controls = "controls" poster="/system/images/BAhbB1sHOgZmSSI0MjAxMi8wOC8xMS8wMC81MC8xOC80OTEvMjAxMl9pdHNhYm91dF90aW1lMi5wbmcGOgZFVFsIOgZwOgp0aHVtYkkiDTIyNXgyNTU+BjsGRg/2012-itsabout%20time2.png">
          <source src="http://dl.dropbox.com/u/51100453/sample_VP8.webm" type="video/webm"/>
        </video>
      </div>
      <div class="two columns"></div>

    </div>
    <div style="width:20%;margin:20px auto; text-align:center;">
     <p><%= link_to "- ENTER -", "/home", style:"font-family: 'PT Serif Caption', serif;"%></p>
   </div>
 </section>
 <%= render '/refinery/javascripts' %>
</body>
</html>