<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption' rel='stylesheet' type='text/css'>
<body>
  <%= site_bar -%>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <div class="row">

      <div class="four columns"></div>
      <div class="four   columns">
          <%= link_to image_tag("vulture-logo.jpg", width:"100%"), "/home"%>
      </div>
      <div class="four columns"></div>

    </div>

  <section id="page">
    <div class="row">

      <div class="one columns"></div>
      <div class="ten columns">
        <div class="videoWrapper">        
         <iframe src="http://player.vimeo.com/video/48893532?title=0&amp;byline=0&amp;portrait=0&amp;color=7a7a7a&amp;autoplay=1" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>

      </div>
      <div class="one columns"></div>

    </div>
    <div class="row">

      <div class="five columns"></div>
      <div class="two columns" style="text-align:center;">
        <p><%= link_to "- ENTER -", "/home"%></p>
      </div>
      <div class="five columns"></div>
 </section>
 <%= render '/refinery/javascripts' %>
</body>
</html>