<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption' rel='stylesheet' type='text/css'>
<body>
  <%= site_bar -%>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <div class="row">

      <div class="three columns"></div>
      <div class="six columns">
          <%= link_to image_tag("vulture-logo.jpg", width:"100%"), "/home"%>
      </div>
      <div class="three columns"></div>

    </div>

  <section id="page">
    <div class="row">

      <div class="two columns"></div>
      <div class="eight columns">
        <video width="100%" height="auto" autoplay ="autoplay" poster="/system/images/BAhbBlsHOgZmSSJAMjAxMi8wOC8xMS8wNC80NS81Mi8zMjIvdHVtYmxyX201ZjZ6czZrYTUxcXplNjV2bzFfMTI4MC5qcGcGOgZFVA/tumblr_m5f6zs6ka51qze65vo1_1280.jpg">
          <source src="http://dl.dropbox.com/u/51100453/sample_VP8.webm" type="video/webm"/>
        </video>
      </div>
      <div class="two columns"></div>

    </div>
    <div class="row">

      <div class="five columns"></div>
      <div class="two columns" style="text-align:center;">
        <p><%= link_to "- ENTER -", "/home", style:"font-family: 'PT Serif Caption', serif;"%></p>
      </div>
      <div class="five columns"></div>
 </section>
 <%= render '/refinery/javascripts' %>
</body>
</html>